#roadmap{
    padding-top: 150px;
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
}
.roadmap-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.roadmap-box{
    background-color: #ffffff;
    width:auto;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}
.roadmap-box:hover{
    box-shadow: 2px 2px 12px rgba(184, 98, 0, 0.445);
}
.roadmap-box h2{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
    text-align: center;
    color:#3d2514;
    padding: 20px;

}
.roadmap-box p{
    letter-spacing: 1px;
    color: #3d2514;
    font-size: 1.2rem;
    font-family:'sans-serif';
    text-align: start;

}
#roadmap h1{
    font-size: 3.5rem;
    color:#3d2514;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
}
.contract-address h2{
    margin-top: 10px;
    font-size: 1.6rem;
    color:#3d2514;
}
.AiOutlineCopy :hover{
    cursor: pointer;
}
.AiOutlineLineChart{
    margin: 5px;
    padding: 5px;
}
.contract-address-icon{
    font-family: 'Alfa Slab One';
    color:#bf2222;
    text-decoration: underline;
}
@media(max-width:1190px) {
    .roadmap-container {
        flex-wrap: wrap;
    }
    .roadmap-box{
        flex-grow: 1;
    }
}
@media(max-width:600px) {
    .roadmap-box p{
        font-size: 1rem;
    }
    #roadmap{
        padding-top: 100px;
    }
}