
#howToBuy{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);

}
#howToBuy h1{
    font-size: 3.5rem;
    color:#3d2514;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
}
.how-to-buy-box-text p{
    font-family:'sans-serif';
    color: #3d2514;
    font-size: 1.2rem;
}
.token-address p{
    font-size: 12px;
}
.how-to-buy-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.how-to-buy-box{
    background-color: #ffffff;
    width:300px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    box-shadow: 2px 2px 12px rgba(184, 98, 0, 0.445);
}


.how-to-buy-box-text{
    margin-top: 20px;
    width: 100%;
    height: 40%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.how-to-buy-box-text h2{
    color: #3d2514;
    padding-top: 100px;
}

@media(max-width:1190px){
    .how-to-buy-container{
        flex-wrap: wrap;
    }
    .how-to-buy-box{
        flex-grow: 1;
    }
    #howToBuy{
        height: auto;
        padding-top: 100px;

    }
    .how-to-buy-box-text p{
        font-size: 15px;
    }
    .howToBuy-bottom span{
        font-size: 14px;
    }
}


